@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes girarYSubirBajar {
  0% {
    transform: translateY(0) rotate(0deg); /* Inicia en su posición original sin rotación */
  }
  50% {
    transform: translateY(-100px) rotate(1800deg); /* Subir y girar (giro de 5 vueltas) */
  }
  100% {
    transform: translateY(0) rotate(3600deg); /* Bajar y finalizar con giro completo */
  }
}

.animate-roll {
  animation: girarYSubirBajar 3s ease-out ; /* Duración de 3 segundos */
}

